@import '../styles/variables.css';

/* remember the holy grail layout with CSS grid? https://bitsofco.de/holy-grail-layout-css-grid/ */
.grid-wrap {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
    "header"
    "content"
    "footer";
    grid-template-rows: auto 1fr auto;
}

#main-header  {grid-area: header;  background: $dark;  color: $light;}
#logo {width: 64px; margin: .5rem auto;}

#main-content {grid-area: content; background: $light; color: $dark;}
#main-footer  {
    grid-area: footer;  
    background: $dark;  
    color: $light;
    text-align: center;
    padding: $contentPadding;
}